{% extends "admin/base_site.html" %}
{% block title %}Requirements management{% endblock %}


{% block branding %}
<h1 id="site-name">DjReq</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href=/>home</a> | <a href=/admin>admin</a>
{% if node.parent %} | <a href=../{{ node.parent.pk }}/>parent</a>{% endif %}
</div>
{% endblock %}


{% block content %}
<h1>Module {{ node.title }}</h1>
views: <a href=view/tbd>view tbd</a><br>
<a href=new/view/>new view</a> | <a href=new/doc/>import document</a>
<p>
{% for c in node.children.all %}
{% if forloop.first %}children:{% endif %}
| <a href=../{{ c.pk }}/>{{ c.title }}</a>
{% endfor %}

<h2>About this page</h2>
<pre>
- The current node is a module; a module contains items
- an item has attributes
- attributes visibility is managed by views in a module

TODO
- admin column headers, views
</pre>
{% endblock %}
